/*headers*/
header{
    background-image: url(img/header.jpg);
    background-position: center,center;
    background-size: cover;
    height: 400px;
    color: white;
    text-align: center;
}

/*global*/




/*utilies*/



/*main*/




